@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 2px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background: #fff;
  color: #222;
  padding: 2px 4px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 1px 1px 0 #c0c0c0, inset -1px -1px 0 #404040;
}

input:focus {
  border-color: #000 #fff #fff #000;
  box-shadow: 0 0 2px #3399ff;
}

input:disabled {
  background: #e5e7eb; /* gray-200 */
}

button {
  padding: 2px 12px 2px 12px;
  font-size: 0.95rem;
  font-family: inherit;
  background: #c0c0c0;
  color: #222;
  border: 1px solid #fff;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #404040;
  border-bottom-color: #404040;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #808080;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #dfdfdf;
}

button:active {
  background: #a0a0a0;
  border-top-color: #404040;
  border-left-color: #404040;
  border-bottom-color: #fff;
  border-right-color: #fff;
  box-shadow: inset 2px 2px 2px #808080;
}
